*{
    margin: 0;
    padding: 0;
    font-family: Manrope;
}

/* --------------- trait --------------- */

.texteor{/* Initialisation */
    text-align: center;
    position: relative;
    opacity: 0.5;
    font-weight: 600;
    width: 75%;
    margin: auto;
}

.texteor::before{ /* trait avant le "or" */
    content: "";
    display: block;
    opacity: 0.5;
    width: 47%; /* Largeur de la ligne, ajustez selon vos préférences */
    height: 1px; /* Hauteur de la ligne */
    background-color: rgb(0, 0, 0); /* Couleur de la ligne */
    position: absolute;
    top: 50%; /* Position verticale au centre */    
}

.texteor::after{ /* trait apres le "or" */
    content: ""; /* Ajout du contenu pseudo-élément */
    display: block;
    opacity: 0.5;
    width:47%; /* Largeur de la deuxième ligne, ajustez selon vos préférences */
    height: 1px; /* Hauteur de la ligne */
    background-color: rgb(0, 0, 0); /* Couleur de la ligne */
    position: absolute; /* Position absolue à l'intérieur du conteneur */
    top: 50%; /* Position verticale au centre */
    right:0px; /* Ajustez pour centrer la ligne horizontalement */
}

/* --------------- Fin trait --------------- */


/* --------------- Header --------------- */

header{ /* Rendre le logo et son texte deplacable */
    position: relative;
    display:flex;
}

header p{ /* Texte a cote du logo */
    font-size: 1.2em;
    font-family:'Times New Roman', Times, sans-serif;
    color: rgba(0, 0, 0, 0.5);
    margin-left: -25px;
    font-weight: 800;
    padding-bottom: 20px;
    letter-spacing: 5.5px;
    /* text-shadow: */
    /* -1px -1px 0 rgb(0,0,0), /* Ombre en haut à gauche */    
    /* 1px -1px 0 rgb(0,0,0), /* Ombre en haut à droite */      
    /* -1px  1px 0 rgb(0,0,0), /* Ombre en bas à gauche */
    /* 1px  1px 0 rgb(0,0,0); /* Ombre en bas à droite */
}

.logo{
    width:110px;
}

.logoetsontexte{ /* Coller le logo avec le texte */
    position: relative;
    display: flex;
    flex-direction:row;
    align-items:center;
    bottom:20.5%;
}

/* --------------- Fin Header --------------- */


/* --------------- Corps de la page --------------- */

/* --------------- Zone réseaux et texte */

.zonetext{/* Entre le logo et le or */
    text-align: center;
}

.texte1{
    font-size: 2.5em;
    grid-row: 1;
}

.texte2{
    font-size: 1.1em;
    opacity: 0.5;
    grid-row: 2;
}

.zonedesreseaux{
    position: relative;
    height: 50px;
    display: flex;
    justify-content: center;
    margin: 15px 0px 0px 0px;
    transition:all 0.3s ease;
    gap: 6.5px;
}

section div a img{ /* Configuration pour les boutons réseaux */
    width: 35px;
    border-radius: 25px 25px 25px 25px;
}

section div a img:hover{ /* Configuration pour les boutons réseaux */
    position: relative;
    width: 50px;
    transform: translateY(-7px);
    transition:all 0.3s ease;
    animation: neon 1s infinite alternate;/* Animation pour si il y avais du texte a l'interieur de la balise */
}

.logo1:hover{
    filter: brightness(1) saturate(2.5) drop-shadow(0 0 10px rgb(9, 89, 152));
}

.logo2:hover{
    filter: brightness(1) saturate(2.5) drop-shadow(0 0 10px rgb(220, 0, 0));
}

.logo3:hover{
    filter: brightness(1) saturate(2.5) drop-shadow(0 0 10px rgb(0, 170, 255));
}


@keyframes neon {/* Définitation de l'effet neon a appliquer au texte */
   0% {
      text-shadow: 0 0 10px rgba(0, 255, 255, 0.8);
   }
   100% {
      text-shadow: 0 0 20px rgba(0, 255, 255, 0.8);
   }
}

/* --------------- Fin Zone réseaux et texte*/


/* --------------- Configuration des champs de saisie et du bouton */

.champsdesaisie{ /* Conteneur des champs de saisie */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    gap: 10px;
    margin: auto;
    margin-top: 5px;
}

#email, #password{ /* Configuration des champs */
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 30px;
    height:35px;
    text-indent: 20px;
    outline: none;
}

#email::placeholder, #password::placeholder{
    text-indent: 20px;
    font-weight: 600;
}


#boutondeconnexion{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width:40%;
    background-color: rgb(128,159,255);
    border: none;
    padding: 15px;
    border-radius: 30px;
    font-weight: 700;

    /* Ombre bleu sur le bouton */
    box-shadow: 0px 0px 5px rgb(128,159,255), 0 0 25px rgb(128,159,255);
    transition: all 0.3s ease;   
}

#boutondeconnexion:hover{

    /* Configuration de l'effet au survol */
    box-shadow: 0 0 25px rgb(128,159,255), 0 0 50px rgb(128,159,255),
    0 0 100px rgb(128,159,255);
}

/* --------------- Fin Configuration des champs de saisie et du bouton */


/* --------------- Grille pour ranger le contenue de la page */

body{ /* Configuration de la grille pour gerer l'agencement de la page  */
    display:grid;
    grid-template-columns: 2.5fr 1.3fr;
    min-height: 100vh;
}

aside{
    position: relative;
    background-image: url(Image/backgrounderen1.jpeg);
    grid-row: span 2;
    grid-column: 2;

    /* Faire en sorte que l'image reste centrer et entendur qu'importe le redimensionnement */
    background-size: cover;
    background-position-x: center;
    background-position-y:center;
}

aside img{ /* Image pour la superposition */
    display: block;
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    margin-bottom: -4.5px;
    background-size:cover;
    width: 100%;
    height: 100%;
    opacity:0.8 ;
    filter: blur(5px);
    box-shadow: -5px 0px 20px rgba(0, 0, 0, 0.637);
}

main{
    position: relative;
    grid-row:2;
    bottom:10vh ;

}

/* --------------- Fin Grille pour ranger le contenue de la page */


/* --------------- Configuration du contenu de la zone Aside */

aside{
    display:flex;
    flex-direction: column;
    justify-content: center; /* Ajustement verticale des élements */
    align-items: center; /* Ajustement horizontale des élements */
}

aside div h1{
    position: relative;
    color: rgb(255, 255, 255);
    opacity: 0.95;
    z-index: 2;
    text-align: center;
    font-weight: 800;
    font-size: 2em;
    width: 80%;
    margin: auto;
}

aside div h2{
    position: relative;
    color: rgba(255, 255, 255, 0.87);
    opacity: 1;
    z-index: 2;
    margin: auto;
    text-align: center;
    font-weight: 400;
    font-size: 1.25em;
    width: 80%;
    margin-top: 10px;
    margin-bottom: 20px;
}

aside input{ /* Configuration du bouton de la zone aside */
    position: relative;
    z-index: 5;
    width:50%;
    background-color: rgb(255, 255, 255);
    border: none;
    padding: 15px;
    border-radius: 30px;
    box-shadow: 0px 0px 5px rgb(255, 255, 255), 0 0 25px rgb(255, 255, 255);
    filter: blur(20%);
    transition: all 0.3s ease;
    font-weight: 700;
}

aside input:hover{
    animation: forwards;
    box-shadow: 0 0 25px rgb(255, 255, 255), 0 0 50px rgb(255, 255, 255),
    0 0 100px rgb(128,159,255);
}

/* --------------- Fin Configuration du contenu de la zone Aside */

/* --------------- Fin Corps de la page --------------- */


@media screen and (max-width: 1700px){ 

    html{
        min-height: 600px;     
        overflow: auto;
    }    
    
    body{
        display: flex;
        flex-direction: column;
    }

    main{
        bottom: 0;
        width: 80%;
        align-self: center;
    }

    aside{
        display: none;
    }

    .logoetsontexte{ /* Coller le logo avec le texte */
        position:unset;
        display: flex;
        flex-direction:row;
        align-items:center;
        bottom:0;
    }

    main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        grid-row:2;
        bottom:0 ;
    }
    
}

/* ------------------------------ FIN ------------------------------ */